body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.header {
  background-color: #87cefa;
  border-bottom: 1px solid #87cefa;
  padding: 10px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.6);
}

.header__title {
  color: #ffffff;
  font-size: 1.8rem;
}

.main-hero {
  padding: 0 20px;
  background: #ffb6c1 no-repeat center center / cover;
  height: 100vh;
}

.main-hero__box {
  display: flex;
  margin-bottom: 10rem;
}

.main-hero__visual img {
  max-width: 200px;
  margin-top: 1rem;
}

.main-hero__text {
  margin-top: 2.5rem;
}

.main-hero__box02 {
  text-align: center;
}

.main-hero__button {
  padding: 100px;
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 93px;
  background: #ffb6c1;
  box-shadow: -17px -17px 40px #eba7b2, 17px 17px 40px #ffc5d0;
}

.footer {
  background-color: #87cefa;
  padding: 10px;
}

.footer__text {
  color: #ffffff;
  font-size: 0.5rem;
  text-align: center;
}
